<Body:>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><a href="/auth/facebook">Login with Facebook</a></p>
        <p><a href="/auth/github">Login with Github</a></p>
        <p><a href="/auth/vkontakte">Login with Vkontakte</a></p>

        <view name="auth:login"/>
        <view name="auth:register"/>
      </div>
      <div class="col-md-6">
        {{if _session.loggedIn}}
          <h4>Logged in with:</h4>
          {{if _session.user.email}}
            <p>Local Strategy ({{_session.user.email}})</p>
            <view name="auth:changePassword"/>
          {{/if}}
          {{if _session.user.facebook}}
            <p><a href="{{_session.user.facebook.profileUrl}}" target="_blank">Facebook Profile ({{_session.user.facebook.displayName}})</a></p>
          {{/if}}
          {{if _session.user.github}}
            <p><a href="{{_session.user.github.profileUrl}}" target="_blank">Github Profile ({{_session.user.github.username}})</a></p>
          {{/if}}
          {{if _session.user.vkontakte}}
            <p><a href="{{_session.user.vkontakte.profileUrl}}" target="_blank">Vkontakte Profile ({{_session.user.vkontakte.displayName}})</a></p>
          {{/if}}
          <a href="/auth/logout" class="btn btn-primary">Logout</a>
        {{/if}}
      </div>
    </div>
  </div>